---
import Badge from "@/components/Badge.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SocialPill from "@/components/SocialPill.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"

import Layout from "@/layouts/Layout.astro"
import { getI18n } from "@/i18n"

const lang = "en"
const copy = getI18n(lang).components
---

<Layout title="" description="" lang={lang}>
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">{copy.badgeTitle}</h1>

      <Badge>{copy.badgeText}</Badge>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">{copy.pillTitle}</h1>

      <div class="flex">
        <SocialPill href="https://linkedin.com/in/guillermo-teijeiro-7781a232">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
      </div>
    </article>
  </SectionContainer>
</Layout>
