---
import ExperienceItem from "./ExperienceItem.astro"
import { getI18n } from "@/i18n"
import type { Lang } from "@/i18n"

interface Props {
  lang?: Lang
}

const { lang = "es" } = Astro.props
const text = getI18n(lang).experience
const items = text.items
---

<ol class="relative mt-16">
  {
    items.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} learnMoreLabel={text.learnMore} />
      </li>
    ))
  }
</ol>
